1303 Find the team size.sql
-- Table: Employee
 +---------------+---------+
 | Column Name   | Type    |
 +---------------+---------+
 | employee_id   | int     |
 | team_id       | int     |
 +---------------+---------+
 employee_id is the primary key for this table.
 Each row of this table contains the ID of each employee and their respective team.
 Write an SQL query to find the team size of each of the employees.
 Return result table in any order.
 The query result format is in the following example:
 Employee Table:
 +-------------+------------+
 | employee_id | team_id    |
 +-------------+------------+
 |     1       |     8      |
 |     2       |     8      |
 |     3       |     8      |
 |     4       |     7      |
 |     5       |     9      |
 |     6       |     9      |
 +-------------+------------+
 Result table:
 +-------------+------------+
 | employee_id | team_size  |
 +-------------+------------+
 |     1       |     3      |
 |     2       |     3      |
 |     3       |     3      |
 |     4       |     1      |
 |     5       |     2      |
 |     6       |     2      |
 +-------------+------------+
Employees with Id 1,2,3 are part of a team with team_id = 8.
Employees with Id 4 is part of a team with team_id = 7.
Employees with Id 5,6 are part of a team with team_id = 9.

In [1]:
# Importing sparksession
from pyspark.sql import SparkSession
# Creating a sparksession object
spark = SparkSession.builder.appName("window_function").getOrCreate()

24/04/14 18:36:26 WARN Utils: Your hostname, localhost.localdomain resolves to a loopback address: 127.0.0.1; using 192.168.174.137 instead (on interface ens160)
24/04/14 18:36:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/14 18:36:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
employees_teams = [(1,8),(2,8),(3,8),(4,7),(5,9),(6,9)]

In [3]:
# Creating the DataFrame
employeeteams = spark.createDataFrame(employees_teams,schema=("employee_id integer, team_id integer"))
employeeteams.show()

+-----------+-------+
|employee_id|team_id|
+-----------+-------+
|          1|      8|
|          2|      8|
|          3|      8|
|          4|      7|
|          5|      9|
|          6|      9|
+-----------+-------+

In [4]:
# Using Groupby
employeeteams_new = employeeteams.groupby("team_id").count()
employeeteams_new.show()

+-------+-----+
|team_id|count|
+-------+-----+
|      8|    3|
|      7|    1|
|      9|    2|
+-------+-----+

In [5]:
# Team size
employeeteams_new.join(employeeteams,on="team_id", how="inner").select("employee_id", "count").orderBy("employee_id").show()

+-----------+-----+
|employee_id|count|
+-----------+-----+
|          1|    3|
|          2|    3|
|          3|    3|
|          4|    1|
|          5|    2|
|          6|    2|
+-----------+-----+